<app-navbar></app-navbar>
<div class="container">
    <div class="signup">
        <div class="signup_title">Get started with EDACY</div>
        <div class="signup_form">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="form-group-inline">
                <div class="form-group">
                    <label for="lastName">First Name</label>
                    <input type="text" name="firstName" id="firstName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [type]="showPassword?'text': 'password'" name="password" id="password" class="form-control">
                <span (click)="onShowPassword()">
                    <i class="fas fa-eye" *ngIf="!showPassword"></i>
                    <i class="fas fa-eye-slash" *ngIf="showPassword"></i>
                </span>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="flexCheckChecked">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    I agree to the Terms of Use and Privacy Policy
                </label>
            </div>
            <button class="btn btn-primary" routerLink="/company">Create account</button>
            <p class="question">
                Got an account? <a routerLink="/login">Sign in</a>
            </p>
        </div>
    </div>
</div>