<header>
    <div class="header_left" routerLink="/">EDACY</div>
    <div class="header_right">
        <div class="dropdown">
            <div class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-globe"></i>
                <span *ngIf="true">EN</span>
                <span *ngIf="false">FR</span>
                <i class="fas fa-chevron-down"></i>
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="#">Arabic</a></li>
                <li><a class="dropdown-item" routerLink="#">English</a></li>
                <li><a class="dropdown-item" routerLink="#">French</a></li>
            </ul>
        </div>
        <div class="buttons">
            <button class="btn white" routerLink="/login">login</button>
            <button class="btn" routerLink="/register">Get Started</button>
        </div>
    </div>
</header>