.title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: var(--color-secondary-dark);
    width: 592px;
    height: 88px;
}

.form-switch {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    label {
        margin: 0 10px;
        color: #717171;
        text-transform: capitalize;
    }

    label.checked {
        color: var(--color-secondary-dark);
    }

    /* Checkbox Customized */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-primary);
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: var(--color-primary);
    }

    input:focus+.slider {
        box-shadow: 0 0 1px var(--color-primary);
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    width: 100%;

    .plan {
        position: relative;
        box-sizing: border-box;
        width: 384px;
        background: #FFFFFF;
        padding: 32px;
        border: 1px solid #E8EAED;
        box-shadow: var(--card-box-shadow);
        border-radius: 8px;
        margin-bottom: 80px;

        .plan_title {
            font-family: 'Proxima Nova';
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.2px;
            margin-bottom: 16px;
        }

        .btn-primary {
            background: var(--color-primary);
            border-radius: 4px;
            position: absolute;
            top: 34px;
            right: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            padding: 4px 8px;
            text-transform: none;
        }

        .prices {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 76px;

            .price {
                font-style: normal;
                font-weight: 700;
                font-size: 64px;
                padding-left: 16px;
                line-height: 76px;
                display: flex;
                align-items: center;

                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #717171;
                    margin-left: 5px;

                    &:first-child {
                        position: absolute;
                        width: 12px;
                        height: 20px;
                        left: 32px;
                        top: 84px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        color: #717171;
                        margin: 0;
                    }
                }
            }

            .individually {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.2px;
            }
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.002em;
            color: #717171;
            margin-bottom: 20px;
        }
    }

    .ticks {
        margin-bottom: 24px;

        .tick {
            padding-left: 0;
            margin-bottom: 16px;
            position: relative;
            display: flex;
            align-items: center;
            height: 24px;


            .tick_text {
                padding-left: 34px;
                font-size: 14px;
            }

            // label {
            //     font-size: 14px;
            //     display: flex;
            //     align-items: center;

            //     .form-check-input {
            //         width: 24px;
            //         height: 24px;
            //         border-radius: 50%;
            //         margin: 0 10px 0 0;
            //     }
            // }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                background-color: var(--color-primary);

                &:after {
                    content: "";
                    position: absolute;
                    left: 8px;
                    top: 5px;
                    width: 8px;
                    height: 12px;
                    display: block;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }

    .button {
        width: 100%;
        height: 52px;
        font-weight: 500;
        margin-bottom: 14px;
    }

    .day {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.002em;
        color: #717171;
    }
}

.compare {
    width: 100%;

    .compare_title {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
    }
}

.table {
    text-align: center;
    box-shadow: var(--box-shadow);

    .table_light {
        border-bottom: 2px solid transparent;
        background-color: #E8EAED;

        tr {
            td {
                padding: 24px;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.3px;
            }
        }
    }

    tbody {
        background-color: #FFFFFF;

        td {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            padding: 24px;
            color: var(--color-secondary-dark);
            width: 304px;
            height: 64px;

            &:first-child {
                color: #717171;
                font-weight: 400;
                text-align: left;
            }
        }

        .td_tick {
            display: flex;
            justify-content: center;
            height: 50px;
            align-items: center;
            margin: 0;
        }
    }

    .tick {
        position: relative;
        width: 25px;
        margin: auto;

        .tick_text {
            padding-left: 34px;
            font-size: 14px;
        }

        .checkmark {
            position: absolute;
            top: -4px;
            left: 0;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            background-color: var(--color-primary);

            &:after {
                content: "";
                position: absolute;
                left: 8px;
                top: 5px;
                width: 8px;
                height: 12px;
                display: block;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}


@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1240px;
    }
}