<app-navbar></app-navbar>
<div class="container">
    <div class="title">
        Try EDACY for free, then use a plan that meets your needs
    </div>
    <div class="form-switch">
        <label for="flexSwitchCheckChecked" [ngClass]="{'checked': !monthly}">monthly</label>
        <div class="switch">
            <input type="checkbox" id="flexSwitchCheckChecked" (change)="onChange($event)">
            <span class="slider round"></span>
        </div>
        <label for="flexSwitchCheckChecked" [ngClass]="{'checked': monthly}">yearly</label>
    </div>
    <div class="plans">
        <div class="plan">
            <div class="plan_title">
                Trainer
            </div>
            <div class="prices">
                <div class="price">
                    <span>€</span>
                    99
                    <span>/monthly</span>
                </div>
            </div>
            <p>Billed every month</p>
            <div class="ticks">
                <!-- <div class="tick form-check">
                    <label class="form-check-label" for="flexCheckChecked">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        Checked checkbox
                    </label>
                </div> -->
                <div class="tick">
                    <div class="tick_text">
                        Up to 50 learners
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Unlimited courses
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        2GB storage
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Access to groups & tutors
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Custom domain
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Zoom integration
                    </div>
                    <div class="checkmark"></div>
                </div>
            </div>
            <button class="btn button">Start trial</button>
            <div class="day">14 days trial included</div>
        </div>
        <div class="plan">
            <div class="plan_title">
                Center
            </div>
            <button class="btn btn-primary">Most popular</button>
            <div class="prices">
                <div class="price">
                    <span>€</span>
                    399
                </div>
            </div>
            <p>Billed every month</p>
            <div class="ticks">
                <div class="tick">
                    <div class="tick_text">
                        Up to 250 learners
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Up to 250 courses
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        10GB storage
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Access to groups & tutors
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Custom domain
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Zoom integration
                    </div>
                    <div class="checkmark"></div>
                </div>
            </div>
            <button class="btn button">Start trial</button>
            <div class="day">14 days trial included</div>
        </div>
        <div class="plan">
            <div class="plan_title">
                Organisation
            </div>
            <div class="prices">
                <div class="individually">Priced individually</div>
            </div>
            <p>Billed every month</p>
            <div class="ticks">
                <div class="tick">
                    <div class="tick_text">
                        Up to 250 learners
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Up to 250 courses
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        10GB storage
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Access to groups & tutors
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Custom domain
                    </div>
                    <div class="checkmark"></div>
                </div>
                <div class="tick">
                    <div class="tick_text">
                        Zoom integration
                    </div>
                    <div class="checkmark"></div>
                </div>
            </div>
            <button class="btn button">Get in Touch</button>
            <div class="day">Contact us to get a quote</div>
        </div>
    </div>
    <div class="compare">
        <div class="compare_title">Compare pricing plans</div>
        <table class="table">
            <thead class="table_light">
                <tr>
                    <td></td>
                    <td>Trainer</td>
                    <td>Center</td>
                    <td>Organisation</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Learners</td>
                    <td>50</td>
                    <td>250</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>Courses</td>
                    <td>Unlimited</td>
                    <td>250</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>Admins</td>
                    <td>2</td>
                    <td>5</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>Instructors</td>
                    <td>2</td>
                    <td>5</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>Storage</td>
                    <td>2GB</td>
                    <td>10GB</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>Groups</td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Tutors</td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Custom Domain</td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Zoom integration</td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                    <td>
                        <div class="tick">
                            <div class="tick_text">
                            </div>
                            <div class="checkmark"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>